---
const {picture, alt, text} = Astro.props
---
<!-- this section is a big img -->
<section>
   <div class="flex-col items-center sticky top-[0px] md:h-screen w-screen bg-white">
      <div class="p-[40px] md:p-[80px] box"> 
         <img class=" mx-auto " src={picture} alt={alt}>
         <p class="text-[16px] pt-[10px]">{text}</p>
      </div>
   </div>

   <div class="flex-col items-center sticky top-[0px] md:h-screen w-screen bg-white">
      <div class="p-[40px] md:p-[80px] box"> 
         <img class=" mx-auto" src={picture} alt={alt}>
         <p class="text-[16px] pt-[10px]">{text}</p>
      </div>
   </div>
</section>


<style>
   .box{
      border-top: 1px solid var(--opacity40-dark-blue);
      border-bottom: 1px solid var(--opacity40-dark-blue);
   }
</style>