---
import Card1 from "./Card1.astro";
import Card2 from "./Card2.astro";
import Cardinfo from "./Cardinfo.astro";
---
<section class="font-normal">
  <!-- IT-Management and Support sektion -->
<div class="flex-col items-center sticky top-[0px] md:h-screen w-screen ">
  <div class=" p-9 md:px-20 md:py-[100px]">
    <h2 class=" text-3xl pb-6 md:text-5xl md:pb-8 font-[Gabarito]">IT-Management and Support</h2>
    <div class=" md:grid md:grid-cols-2 md:gap-14 ">
      <div class="hidden md:block">
        <Card1 
        headlinetext="Our IT Management and Support ensures seamless and efficient IT infrastructure. We offer proactive monitoring, quick troubleshooting, and technical support to keep your business secure and up-to-date. Our experts optimize systems, enhance security, and ensure maximum uptime – everything from server management to network support." 
        img="/img/pc.webp" 
        imgDescription="billede af pc"/>
      </div>
      <Cardinfo 
		  packageheadline="IT Management and Support Package" 
		  text="Tailored solutions that ensure efficient operation, high security, and minimal downtime for your IT infrastructure."
    
      infotext1="Proactive system monitoring"

      popuptext1="Continuous, real-time oversight"
      popuptext1_2="of systems to detect, prevent"
      popuptext1_3="and address potential issues"
      popuptext1_4="before they impact"
      popuptext1_5="performance or operations."

      infotext2="Troubleshooting and problem resolution"

      popuptext2="Identifying, analyzing, and"
      popuptext2_2="resolving technical issues or"
      popuptext2_3="operational challenges to"
      popuptext2_4="ensure smooth functionality"
      popuptext2_5="and minimal downtime."

      infotext3="Software updates and patch management"

      popuptext3="Managing the deployment of"
      popuptext3_2="software updates and"
      popuptext3_3="patches to ensure systems"
      popuptext3_4="remain secure, reliable,"
      popuptext3_5="and up-to-date with the"
      popuptext3_6="latest features and bug fixes."

      infotext4="Network support and optimization"

      popuptext4="Enhancing network"
      popuptext4_2="performance through robust"
      popuptext4_3="support services, proactive "
      popuptext4_4="maintenance, and optimization"
      popuptext4_5="strategies to ensure"
      popuptext4_6="reliability and efficiency."

      infotext5="Security and data protection"

      popuptext5="Ensuring robust security and"
      popuptext5_2="comprehensive data protection"
      popuptext5_3="measures to safeguard"
      popuptext5_4="sensitive information, prevent"
      popuptext5_5="unauthorized access, and"
      popuptext5_6="maintain user trust access."

      infotext6="Backup and recovery"

      popuptext6="Backup and recovery involve"
      popuptext6_2="saving data copies to prevent"
      popuptext6_3="loss and restoring them "
      popuptext6_4="after disruptions."
      />
    </div>
  </div>
</div>

  <!-- Custom Software Development sektion -->
<div class="flex-col items-center sticky top-[0px] md:h-screen w-screen ">
  <div class="p-9 md:px-20 invertbackground md:py-20">
    <h2 class=" text-3xl pb-6 invertbackground  md:text-5xl md:pb-8 font-[Gabarito]">Custom Software Development</h2>
      <div class=" md:grid md:grid-cols-2 md:gap-14">
        <Cardinfo 
		    packageheadline="Custom Software Development Packages" 
		    text="Flexible and effective software development packages tailored to meet your company’s specific needs and goals."
    
        infotext1="Consultation and Analysis"

        popuptext1="We collaborate closely with"
        popuptext1_2="you to understand your"
        popuptext1_3="business needs, analyze"
        popuptext1_4="challenges, and identify"
        popuptext1_5="tailored solutions that"
        popuptext1_6="align with your goals."
       

        infotext2="Design and Prototyping"

        popuptext2="Our team creates detailed designs"
        popuptext2_2="and interactive prototypes,"
        popuptext2_3="ensuring the proposed solution"
        popuptext2_4="is functional,user-friendly,"
        popuptext2_5="and meets your expectations"
        popuptext2_6="before development begins."
         

        infotext3="Custom Software Development"

        popuptext3=" We build scalable,high-"
        popuptext3_2="performance software"
        popuptext3_3="solutions customized to"
        popuptext3_4="your specific requirements,"
        popuptext3_5="using the latest technologies"
        popuptext3_6="and best practices."


        infotext4="Integration with existing systems"

        popuptext4="We seamlessly integrate new"
        popuptext4_2="solutions with your current"
        popuptext4_3="systems, ensuring smooth"
        popuptext4_4="data flow, compatibility,"
        popuptext4_5="and minimal disruption"
        popuptext4_6="to ongoing operations."
        

        infotext5="Testing and Quality Assurance"

        popuptext5="Through rigorous testing, we"
        popuptext5_2="identify and resolve any"
        popuptext5_3="issues, ensuring the final"
        popuptext5_4="product is secure,reliable,"
        popuptext5_5="and performs optimally"
        popuptext5_6="across all platforms."
       

        infotext6="Ongoing Support and Maintenance"

        popuptext6="We provide continuous"
        popuptext6_2="monitoring, updates, and"
        popuptext6_3="support to ensure your"
        popuptext6_4="systems remain efficient,"
        popuptext6_5="secure, and aligned with"
        popuptext6_6="evolving business needs."
       
        />
      <div class="hidden md:block">
        <Card2 
        headlinetext="We develop unique software solutions tailored to your specific business needs. From conceptualization to implementation, we ensure the solution is efficient, user-friendly, and scalable. Our experienced development team works closely with you to understand your goals and create solutions that optimize your processes." 
        img="/img/statistic.webp" 
        imgDescription="billede af pc"/>
      </div>  
    </div>
  </div>
</div>


  <!-- Inventory Storage and Logistics sektion -->
<div class="flex-col items-center sticky top-[0px] md:h-screen w-screen bg-white">
  <div class="p-9 md:px-20 max-w-screen bg-white md:py-20">
    <h2 class="text-3xl pb-6 md:text-5xl md:pb-8 font-[Gabarito]">Inventory Storage and Logistics</h2>
    <div class=" md:grid md:grid-cols-2 md:gap-14">
      <div class="hidden md:block">
        <Card1
        headlinetext="We offer reliable inventory storage and efficient logistics, ensuring that your products are stored in optimal conditions and ready for delivery when you need them. Our solutions include inventory management, shipment handling, and fast delivery, all designed to support your business needs. We handle both small and large volumes, allowing you to focus on your core business." 
        img="/img/drone1.webp" 
        imgDescription="billede af pc"/>
      </div>
      <Cardinfo 
		  packageheadline="Inventory Storage and Logistics Package" 
		  text="Flexible solutions for inventory and logistics, ensuring efficient handling and fast delivery."
    
      infotext1="Inventory management and monitoring"

      popuptext1="Efficient inventory systems"
      popuptext1_2="ensure real-time tracking"
      popuptext1_3="and accurate stock"
      popuptext1_4="levels, minimizing errors"
      popuptext1_5="and optimizing "
      popuptext1_6="warehouse operations."
       

      infotext2="Shipment handling"

      popuptext2="Seamless shipment handling "
      popuptext2_2="processes guarantee careful"
      popuptext2_3="packaging, efficient loading,"
      popuptext2_4="and streamlined transport,"
      popuptext2_5="reducing delays and."
      popuptext2_6="damage risks."
       

      infotext3="Secure storage"

      popuptext3="Our facilities provide"
      popuptext3_2="safe and climate-controlled"
      popuptext3_3="storage solutions, ensuring"
      popuptext3_4="product integrity and "
      popuptext3_5="protection against"
      popuptext3_6="damage or loss."
   

      infotext4="Fast delivery and distribution"

      popuptext4="With optimized routes and"
      popuptext4_2="reliable logistics networks,"
      popuptext4_3="we ensure quick deliveries,"
      popuptext4_4="meeting customer demands"
      popuptext4_5="with reduced lead times."
      

      infotext5="Flexible scaling"

      popuptext5="Our logistics solutions"
      popuptext5_2="adapt to fluctuating"
      popuptext5_3="demands, allowing businesses"
      popuptext5_4="to scale operations up or"
      popuptext5_5="down without compromising"
      popuptext5_6="efficiency."
      

      infotext6="Tracking and reporting"

      popuptext6="Real-time tracking tools"
      popuptext6_2="and detailed reporting provide"
      popuptext6_3="full visibility of"
      popuptext6_4="shipments, enabling informed"
      popuptext6_5="decision-making and"
      popuptext6_6="improved performance."
   
      />
    </div>
  </div>
</div>
</section>

<style>

  .invertbackground{
    color:var(--white);
    background-color: var(--dark-brown);
  }

  h2{
    color:var(--dark-brown);
  }
</style>


<!-- <section>
   <div class="flex-col items-center sticky top-[0px] md:h-screen w-screen ">
      <div class="p-[40px] md:p-[80px] box"> 
         <img class=" mx-auto" src={picture} alt={alt}>
         <p class="text-[16px] pt-[10px] font-[DM_Sans]">{text}</p>
      </div>
   </div>

   <div class="flex-col items-center sticky top-[0px] md:h-screen w-screen">
      <div class="p-[40px] md:p-[80px] box"> 
         <img class=" mx-auto" src={picture} alt={alt}>
         <p class="text-[16px] pt-[10px] font-[DM_Sans]">{text}</p>
      </div>
   </div>
</section>-->